www/local/soap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://192.168.1.174:8080/local" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="soap" targetNamespace="http://192.168.1.174:8080/local">
  <wsdl:types>
    <xsd:schema targetNamespace="http://192.168.1.174:8080/local">
      <xsd:element name="sqlite3">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sqlite3Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sqlite3Request">
    <wsdl:part name="sql" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="sqlite3Response">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="soap">
    <wsdl:operation name="sqlite3">
      <wsdl:input message="tns:sqlite3Request"/>
      <wsdl:output message="tns:sqlite3Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soapSOAP" type="tns:soap">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="sqlite3">
  		<soap:operation
  			soapAction="http://192.168.1.174:8080/local/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="soap">
    <wsdl:port binding="tns:soapSOAP" name="soapSOAP">
      <soap:address location="http://192.168.1.174:8080/local/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
